# Question 1
Define a  calculator function which takes 3 arguments from the user ,first two  will be numbers and third will be operations like (+,-,*,/).If user forgets to give third argument then by default operation it performs addition.

calculator(3,4,+)
output: sum of 3 and 4 is :7

calculator(4,2)
output: sum of 4 and 2 is :6

In [7]:
def calculator():
    opr = input('enter any : +,-,*,/ ')

    no1 = int(input('1st no: '))
    no2 = int(input('2nd no: '))

    if opr == '+':
        print('{} + {} = '.format(no1, no2))
        print(no1 + no2)

    elif opr == '-':
        print('{} - {} = '.format(no1, no2))
        print(no1 - no2)

    elif opr == '*':
        print('{} * {} = '.format(no1, no2))
        print(no1 * no2)

    elif opr == '/':
        print('{} / {} = '.format(no1, no2))
        print(no1 / no2)

    else:
        print('Invalid one')
calculator()

enter any : +,-,*,/ +
1st no: 3
2nd no: 4
3 + 4 =
7

# **Question 2**
input:[23,34,23,36,48,56,56,100,100,100]<br>
Write a function that will take a list as an input and returns second largest element from the list.

maximum(input)<br>
output :your second max element of list is 56.

In [6]:
list1 = [23,34,23,36,48,56,56,100,100,100]
 
mx=max(list1[0],list1[1])
secmax=min(list1[0],list1[1])
n =len(list1)
for i in range(2,n):
    if list1[i]>mx:
        secmax=mx
        mx=list1[i]
    elif list1[i]>secmax and \
        mx != list1[i]:
        secmax=list1[i]
print("2nd highest : ",\
      str(secmax))

2nd highest :  56

# Question 3
input:[23,34,23,34,34,36,48,56,56,100,100,100]<br>
Write a function that will take a list as an input and returns third minimum element from the list.

minimum(input)<br>
output :your third min element of list is 36.

In [5]:
list1=[23,34,23,34,34,36,48,56,56,100,100,100]
list1.sort()
(list1[:3])[-1]

34

# **Question 4**
create a function that will take string as an input and returns a list of last character of each and every word present in the string.


last("My name is anonomyus and i love python')

output:[ y,e,s,s,d,i,e,n]

In [1]:
string= 'My name is anonomyus and i love python'
string = string + " "
for i in range(len(string)):
    if string[i] == ' ':
        print(string[i - 1], end = " ")

y e s s d i e n

In [ ]:
a=[[j for j in range(1,8)] if i==1 else [j*j for j in range(1,8)] if i==2 else [j*j*j for j in range(1,8)] for i in range(1,4)]
a

[[1, 2, 3, 4, 5, 6, 7],
 [1, 4, 9, 16, 25, 36, 49],
 [1, 8, 27, 64, 125, 216, 343]]